body{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    background-color: rgb(11, 20, 154);
    height: 50px;
    align-items: center;
    padding: 0 20px;
}
.menu img{
    height: 30px;
    border-radius: 50%;
}
.menu-inner{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}
.menu-inner a{
    text-decoration: none;
    margin:0 20px;
    color: white;
    font-size: 20px;
    
}
.logo{
    margin-left: 10px;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:  rgb(11, 20, 154);
}
.hero {
    height: 100vh; 
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    gap: 200px;
    align-items: center; 
    padding: 0 100px;
    box-sizing: border-box;
    
}


.hero-text h3 {
    font-size: 24px;
    color: #ffcc00; 
    margin: 0;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 10px 0;
}

.hero-text p {
    font-size: 28px;
    margin: 0;
    color: #dcdcdc;
}


.hero-image img {
    width: 500px;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
}
.heading{
    color:white;
    font-size: 60px;
}